# ignore JS dependencies
node_modules/

# ignore Desktop Services Store
.DS_Store

# ignore specific Rocket files
*-mdjs-generated.js
*-converted-md-source.js
*-converted-md.js
*-converted-html.js
_site
_site-dev

# ignore environment variables
.env
.env.production
