body {
  font-size: 16pt;
  background-color: #222;
}

.chart-container {
  margin-left: -125px;
  margin-top: -375px;
}

.svg {
  z-index: 0;
}

.container {
  position: absolute;
  top: 0px;
  left: 50px;
}

.block {
  display: inline-block;
  width: 228px;
  height: 200px;
  z-index: 1;
}

p {
  font-family: 'Futura', sans-serif;
  font-size: 2em;
  color: #dedede;
  text-align: center;
}

@media all and (max-width: 1200px) {
  .mobile-remove {
    width: 200px;
    height: 0;
  }

  p {
    text-align: center;
  }
}

@media all and (max-width: 1000px) {

  .container {
    .max-width: 1000px;
  }

  .block {
    margin-left: 100px;
  }

  .row {
    max-width: 750px;
  }

  .mobile-remove {
    width: 0;
    height: 0;
  }

  iframe {
    margin: 0 auto;
  }

  p {
    text-align: center;
  }
}

@media all and (max-width: 600px) {

  .container {
    .max-width: 600px;
  }

  .row {
    max-width: 230px;
  }

  .block {
    margin-left: 100px;
  }

  .mobile-remove {
    width: 0;
    height: 0;
  }

  iframe {
    margin: 0 auto;
  }

  p {
    text-align: center;
  }
}
